
<footer class="ziz-footer">
  <div class="wrapper">

    <div class="footer-box footer-box1">
      
      <a href="/">
        <img src="{{ section.settings.footerimg | img_url : 'master', scale: 2 }}" width="240" stlye="position: relative;margin-right: 10px;display: inline-block;width: 240px;">
      </a>

      <ul class="no-bullets social-icons">

           {% if settings.social_instagram_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                   
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a target="_blank"  href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
             
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a  target="_blank" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
              {% if settings.social_fancy_link != blank %}
                <li>
                  <a target="_blank" href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                  </a>
                </li>
              {% endif %}
            </ul>  

      {% unless shop.enabled_payment_types == empty %}
  
<!--   <ul class="no-bullets social-icons">
    {% assign enabled_payment_types = 'visa,master,american_express,discover,shopify_pay,apple_pay,google_pay,paypal' | remove: ' ' | split: ',' %}
    {% for type in enabled_payment_types %}  
    <li style="margin-right:0;">
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
    {%- endfor -%}
  </ul> -->
      {% endunless %}

    </div>

    <div class="footer-box">
      {% if section.settings.footer_title1 %}
      <h1>{{ section.settings.footer_title1 }}</h1>
      {% endif %}
      {% for link in linklists[section.settings.footer_link_list].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>

    <div class="footer-box">
      {% if section.settings.footer_title2 %}
      <h1>{{ section.settings.footer_title2 }}</h1>
      {% endif %}
      {% for link in linklists[section.settings.footer_link_list2].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </div>

    <div style="clear:both;"></div>

    <div class="footer-bottom cf">

      {% if section.settings.footer_text != blank %}
    <div class="disclaim">
      {{ section.settings.footer_text }}
    </div>
      {% endif %}

    <div class="cright">
      <div style="float:left;">
      <span
       style=" position: relative; "
      >{{ section.settings.footer_copyright }}</span>
      </div>
    </div>

  
    </div>

  
  </div>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
	{
      "type": "image_picker",
      "id": "footerimg",
      "label": "Footer logo IMG"
    },
	{
      "type": "text",
      "id": "footer_title1",
      "label": "Title",
      "default": "Company"
    },
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "de": "Fußzeilenmenü",
        "en": "Footer menu",
        "es": "Menú inferior",
        "fr": "Menu pied de page",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "pt-BR": "Menu do rodapé"
      },
      "default": "footer"
    },
	{
      "type": "text",
      "id": "footer_title2",
      "label": "Title",
      "default": "Information"
    },{
      "type": "richtext",
      "id": "footer_copyright",
      "label": "CopyrightText",
"default": "<p>Copyright</p>"
    },
    {
      "type": "link_list",
      "id": "footer_link_list2",
      "label": {
        "de": "Fußzeilenmenü",
        "en": "Footer menu 2",
        "es": "Menú inferior",
        "fr": "Menu pied de page",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "pt-BR": "Menu do rodapé"
      },
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": true
    },
    {
      "type": "textarea",
      "id": "footer_text",
	  "label": "Text"
    }
  ]
}
{% endschema %}
